input, textarea, select, button, label, .button {
  box-sizing: border-box;
}

input,
textarea,
select,
button,
label {
  display: inline-block;
  vertical-align: top;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 16px;
  background: white;
  border: 0;
  border-radius: 0;
}
input[type="number"],input[type="text"] {
  height: 42px;
  font-size: 16px;
  border-bottom: 1px solid #e5e5eb;
}

select {
  height: 42px;
  background-color: transparent;
  -webkit-appearance: none;
}
div.select_arrow {
  display: inline-block;
  position: relative;
  &:after {
    font-family: 'elegant-icons' !important;
    font-size: 24px;
    line-height: 1;
    content: '3';
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
  }
  & > select {
    padding-left: 6px;
    padding-right: 24px;
  }
}