.animate_slide_left,
.animate_slide_up,
.animate_fade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.animate_slide_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.animate_slide_left.ng-enter, .animate_slide_left.ng-leave,
.animate_slide_up.ng-enter, .animate_slide_up.ng-leave,
.animate_slide_right.ng-enter, .animate_slide_right.ng-leave,
.animate_fade.ng-enter, .animate_fade.ng-leave {
  -webkit-transition: all 0.66s ease;
  -moz-transition: all 0.66s ease;
  -o-transition: all 0.66s ease;
  transition: all 0.66s ease;
}

.animate_slide_left {
  &.ng-enter {
    left: 100%;
  }
  &.ng-enter-active, &.ng-leave {
    left: 0;
  }
  &.ng-leave-active {
    left: -100%;
  }
}

.animate_slide_right {
  &.ng-enter {
    right: 100%;
  }
  &.ng-enter-active, &.ng-leave {
    right: 0;
  }
  &.ng-leave-active {
    right: -100%;
  }
}

.animate_slide_up {
  &.ng-enter {
    top: 100%;
  }
  &.ng-enter-active, &.ng-leave {
    top: 0;
  }
  &.ng-leave-active {
    top: -100%;
  }
}

.animate_fade {
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active, &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}