// ======= Variables =========== //
$grey: #6d6e73;
$blue_water: #80d3ec;
$ios7blue: #2087fc;

// ======= Glyph Icons =========== //
@font-face {
    font-family: 'elegant-icons';
    font-weight: normal;
    font-style: normal;
    src: url("/images/elegant-icons.woff") format("woff"),url("/images/elegant-icons.ttf") format("truetype");
}

// ======= Base Styles =========== //
html, body, .container{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
body, h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
p {
  font-weight: 200;
}
a {
  text-decoration: none;
}

@import "inputs";


.button {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: $grey;
  text-align: center;
  background: transparent;
  border-radius: 4px;

  &.button_bordered {
    box-shadow: inset 0 0 0 1px $grey;
  }

  font-weight: 200;

  img {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 2px;
  }
}

// ======= Main Screen Layout =========== //
div.mainScreen {
  position: absolute;
  top: 0; bottom: 50px; left: 0; right: 0;
  // background-color: #b3d4fc;
}
div.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 60px;
  a {
    margin-left: 10px;
    margin-top: 5px;
  }
  a.right {
    float: right;
    margin-right: 10px;
  }
}

// ======= SVG Graphics =========== //
svg {
  height: 100%;
  width: 100%;
}
.axis {
  font-size: 14pt;
  color: $grey;

  text {
    fill: $grey;
  }

  line, path {
    fill: none;
    stroke: $grey;
  }
}
.amountBar {
  fill: $blue_water;
}
.amountDisplay {
  fill: $grey;
  font-size: 78pt;

  &.liquid_txt {
    font-size: 78pt * 0.5;
  }
}

// ======= Intro Screen Layout =========== //
div.introScreen {
  text-align: center;
}
a.multi_choice {
  border: 1px solid #737373;
  background-color: white;

  &.selected {
    background-color: $blue_water;
  }
}

// ======= Directives =========== //
input.weight_input {
  width: 100px;
}