$grey: #6d6e73;
$blue_water: #80d3ec;

html, body, .container{
  height: 100%;
}

/* Put your CSS here */
body {
  margin: 0;
  padding: 0;
}

body, h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

p {
  font-weight: 200;
}

svg {
  height: 100%;
  width: 100%;
}

div.mainScreen {
  position: absolute;
  top: 0; bottom: 49px; left: 0; right: 0;
  // background-color: #b3d4fc;
}

.axis {
  font-size: 14pt;
  color: $grey;

  text {
    fill: $grey;
  }

  line, path {
    fill: none;
    stroke: $grey;
  }
}

div.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #105cb6;

  button {
    border: 1px solid #737373;
    background-color: #cccccc;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
  }
}

.amountBar {
  fill: $blue_water;
}

.amountDisplay {
  fill: $grey;
  font-size: 78pt;
}

// ======= Intro Page =========== //
div.introScreen {
  text-align: center;
}

button.multi_choice {
  border: 1px solid #737373;
  background-color: white;
}