$grey: #6d6e73;

html, body, .container{
  height: 100%;
}

/* Put your CSS here */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

div.mainScreen {
  position: absolute;
  top: 0; bottom: 40px; left: 0; right: 0;
  // background-color: #b3d4fc;
}

.axis {
  font-size: 14pt;
  color: $grey;

  text {
    fill: $grey;
  }

  line, path {
    fill: none;
    stroke: $grey;
  }
}