<div>
  <div class="introScreen">
    <div class="topbar" ng-show="settings_view">
      <a class="back_button" ng-click="back_button()">Back</a>
    </div>
    <br>

    <h1 ng-show="settings_view">Settings</h1>
    <h1 ng-hide="settings_view">Two Quick Questions</h1>

    <h2>What's your weight?</h2>
    <p ng-hide="settings_view">To know how much water you need</p>
    <weight-setting></weight-setting>

    <br>
    <br>

    <h2>What Looks Right?</h2>
    <p ng-hide="settings_view">Some like metric, others imperial</p>
    <div class="liquid_ask">
      <liquid-unit></liquid-unit>
    </div>

    <a ng-hide="settings_view" class="get_started button button_bordered" ng-click="start_button()">Get Started</a>
  </div>
</div>
