<div>
    <div class="mainScreen">
        <svg>
            <g amount-bar></g>
            <g axes></g>
            <g amount-display ng-click="toggle_display()"></g>
        </svg>
    </div>
    <div class="actions">
        <a ng-click="large_glass()" class="button large_glass">
            <img src="/images/glass.svg" height="30">
            Large Glass
        </a>

        <a ng-click="small_glass()" class="button small_glass">
            <img src="/images/glass.svg" height="20">
            Small Glass
        </a>

        <a ng-click="show_settings()" class="button right">
            <img src="/images/gear.svg" height="24">
        </a>
    </div>
</div>