<p>This is the settings view.</p>

<p>
	Current Weight

	<weight-setting></weight-setting>

	<div>
		{{ settings_state.weight_lbs }}
		&nbsp;&nbsp;&nbsp;&nbsp;
		{{ model.weight }}
	</div>
</p>

<p>
	Water Units
	<button ng-click="set_unit('ml')" ng-class="{'ml': 'selected'}[model.liquid_units]" class="multi_choice">250 ml</button>
	<button ng-click="set_unit('oz')" ng-class="{'oz': 'selected'}[model.liquid_units]" class="multi_choice">8 oz</button>
</p>


<div>
	<a href="#/">Intro</a>
	<a href="#/water">Water</a>
</div>